@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family:"miama";
    src:url("../fonts/miama/Miama.ttf");
}

*{margin: 0;
padding: 0;}

.inter-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* shared style */
.button-primary{
    background: rgb(230, 83, 60);
    border-radius: 2.5rem;
    padding: 10px 30px;
    border: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/* start header style */
.header-container{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(20, 20, 20) 50%, rgb(0, 0, 0) 90%);
}
/* start nav section style */
.nav-container{
    max-width: 85%;
    margin: 0 auto;
    padding: 3.56rem 0rem; 
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.6rem;
}

.nav-title-style{
    font-style: italic;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    padding: 4px 20px 4px 4px;
}

nav ul>li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hamburger-icon{
    display: none;
}

/* end nav section style */
/* start hero section style */
.hero-container{
    max-width: 85%;
    margin: 0 auto;
}

.hero-content-container{
    display: flex;
    align-items: center;
    gap: 30%;
}

.hero-left-content{
    width: 42%;
}

.hero-right-content{
    position: relative;
    
}

.video-tutorial-box{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 24px;
    margin-left: -80px;
    margin-top: -144px;
}

.free-workout-box{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 16px 24px;
    margin-right: -48px;
    top: 160px;
    right: 0;
}


.circle-point{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: tomato;
}

.video-text{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
}

.video-tutorial{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.work-out-title{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
}

.work-out-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}

.hero-title{
    color: rgb(255, 255, 255);
    font-size: 4.50rem;
    font-weight: 900;
    line-height: 110%;
}

.hero-text-style{
    font-family:"miama";
    font-weight: 400;
    font-size: 9.5rem;
    
}

.hero-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0px;
}

.download-btn{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 2.5rem;
    padding: 10px 30px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hero-button{
    display: flex;
    gap: 10px;
}

.hero-right-content img{
    width: 100%;
    height: 100%;
}
/* end hero section style */
/* end header section */

/* start main style */
.main-container{
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
}

/* start change your habit style */
.change-Your-Habits-container{
    width: 85%;
    margin: 0 auto;
}

.change-Your-Habits-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.change-Your-Habits-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-top: 120px;
}

.change-Your-Habits-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    margin-top: 14px;
}

.habit-category-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 54px;
}

.habit-category-content img{
    border-radius: 50%;
    margin-bottom: 26px;
}

.habit-image-content{
    text-align: center;
}

.habit-image-title{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}

.habit-image-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin: 6px 0px;
}
/* end change your habit style */

/* Start Run an Extra Mile Easily style */
.run-an-extra-mile-container{
    width: 85%;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.run-an-extra-mile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 54px;
    gap: 20%;
}

.run-an-extra-mile-left-content{
    width: 40%;
}

.run-an-extra-mile-right-content img{
    width: 100%;
    border-radius: 18px;

}

.run-an-extra-mile-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    width: 80%;
}

.run-an-extra-mile-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-top: 14px;
}

.join-btn{
    margin-top: 24px;
    padding: 14px 60px;
    background: rgb(230, 83, 60);
    border-radius: 2.5rem;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 150%;
}
/* End Run an Extra Mile Easily style */

/* start unique section style */

.what-we-offer-main-container{
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
}

.what-we-offer-container{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

.what-we-offer-title{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding: 80px 0px 80px 0px;
    
}

.offer-catagory-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fitness-image {
    height: 530px;
}

.fitness-image > img{
    width: 100%;
    height: 100%;
}

.training-title{
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.training-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    font-size: 0.9rem;
    line-height: 140%;
}


.trainer-left-sight{
 width: 30%;
}

.fitness-image{
    width: 30%;
}

.trainer-right-sight{
width: 30%; 
}

.fa-solid{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(230, 83, 60);
}

.icon-title{
    display: flex;
    align-items: center;
    gap: 10px;
}


/* end unique section style */

/* start bmi calculation section style */
.bmi-calculator-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.bmi-calculator-content{
    width: 45%;
    margin: 0 auto;
    margin-top: 120px 0px 120px 50px;
    margin-left: 20%;
}

.bmi-title{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 80px;
}
/* end bmi calculation section style */

/* start bmi calculator chart and form style */
.bmi-calculator-chart-form-main-container{
    background: rgb(34, 34, 34);
    margin: 0 auto;
}

.bmi-calculator-chart-form-container{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    
}
.bmi-calculator-table-title{
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 52px;
    
}

table{
    text-align: left;
    border-collapse: collapse;
    color: rgb(123, 123, 123);
    width: 100%;
}
th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 15px;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 15px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-left-chart{
    width: 30%;
}

.bmi-right-form{
    width: 50%;
}

.bmi-form-title{
    font-size: 2rem;
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 14px;
}

.bmi-form-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}

.input_container{
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.input_container >input{
    width: 100%;
    padding: 15px 0px 15px 18px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.gender-select{
    padding: 15px 0px 15px 18px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight:200;
    border: none;
    border-right: 16px solid transparent;
    width: 100%;
}

.activity-factor{
    padding: 15px 0px 15px 18px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-right: 16px solid transparent;
    width: 100%;
}


::placeholder{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);;
}

.calculate-btn{
    margin-top: 34px;
    background: rgb(230, 83, 60);
    border-radius: 2.5rem;
    padding: 13px 60px 13px 60px;
    border: none;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* start team section style */
.our-team-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.our-team-content{
   margin-top: 60px;
   width: 60%;
   text-align: center;
}

.our-team-title{
    color: rgb(255, 255, 255);
    margin: 18px 0px;
    font-size: 2.5rem;
}

.our-team-description{
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
}
/* end team section style */

/* start team card style */

.our-team-card-container{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 60px;
}

.our-team-card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.image-title{
    position: absolute;
    color: aliceblue;
    left: 20px;
    bottom: 25px;
}
.card-image-container{
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}
.card-image-container img{
    width: 100%;
    height: 100%;
}
/* end team card style */


/* end bmi calculator chart and form style */

/* end main style */

/* start footer style */
footer{
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    padding-top: 50px;
}

.footer-container{
    max-width: 85%;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-title{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.footer-description{
    width: 450px ;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 160%;
}

.list-container li{
    list-style: none;
    margin-bottom: 10px;
}

.list-container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

hr{
    margin-top: 80px ;
}

.footer-copyright-text{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
}
/* end footer style */


/* start responsive style */
@media screen and (max-width: 576px) {
    .hamburger-icon{
        display: block;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        cursor: pointer;
    }
    nav ul{
        display: none;
    }

    .hero-button{
        display: flex;
    }

    .hero-content-container{
        display: flex;
        flex-direction: column;
    }

    
    .hero-left-content{
        width: 100%;
        margin-bottom: 50px;
    }

    .hero-title{
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
        line-height: 110%;
    }

    .hero-text-style{
        font-family:"miama";
        font-weight: 400;
        font-size: 5.5rem;
        
    }

    .hero-button{
        gap: 5%;
    }

    .hero-right-content{
        position: relative;   
    }
    
    .video-tutorial-box{
        gap: 12px;
        padding: 16px 20px;
        margin-left: -5px;
        margin-top: -290px;
    }
    
    .free-workout-box{
        padding: 10px 16px;
        margin-right: -4px;
        top: 40px;
        right: 0;
    }


    .change-Your-Habits-container{
        display: flex;
        flex-direction: column;
    }


    .change-Your-Habits-content{
        width: 100%;
    }

    .change-Your-Habits-title{
        font-size: 2.2rem;
    }

    .habit-category-content{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }

    .habit-image-content{
        margin-top: 20px;
    }

    /* Start Run an Extra Mile Easily style */

.run-an-extra-mile-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 40px;
}

.run-an-extra-mile-left-content{
    width: 100%;
}

.run-an-extra-mile-title{
    font-size: 2rem;
    width: 90%;
}

.join-btn{
    width: 100%;
    border-radius: 2.5rem;
    margin-bottom: 30px;
}
/* End Run an Extra Mile Easily style */


/* start bmi calculation section style */
.bmi-calculator-container{
    display: flex;
    justify-content: center;
    
}
.bmi-calculator-content{
    width: 85%;
    margin: 0 auto;
}

.bmi-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
}

.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 80px;
}
/* end bmi calculation section style */

/* start unique section style */

.what-we-offer-title{
    font-size: 2.5rem; 
}

.offer-catagory-conatiner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fitness-image > img{
    width: 100%;
    height: 100%;
    background: transparent;
}

.training-title{
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.training-description{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
    font-size: 0.9rem;
    line-height: 140%;
}


.trainer-left-sight{
 width: 100%;
}

.fitness-image{
    width: 100%;
    margin: 50px 0px 50px 0px;
}

.trainer-right-sight{
width: 100%; 
}

.fa-solid{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(230, 83, 60);
}

.icon-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


/* end unique section style */

/* start bmi calculator chart and form style */
.bmi-calculator-chart-form-main-container{

}

.bmi-calculator-chart-form-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bmi-calculator-table-title{
    margin-bottom: 30px;
    font-size: 1.8rem;
}

table{
    width: 100%;
    margin-bottom: 50px;
}

.bmi-left-chart{
    width: 90%;
}

.bmi-right-form{
    width: 100%;   
}

.bmi-form-title{
    font-size: 2rem;
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 14px;
}

/* start team section style */

.our-team-content{
   width: 85%;
}
.our-team-description{
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
}
/* end team section style */

/* start team card style */

.our-team-card-container{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 60px;
}

.our-team-card-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* end team card style */
/* end main style */


/* start footer style */

.footer-content{
    display: flex;
    flex-direction: column;
}

.footer-title{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.footer-description{
    width: 100% ;
    margin: 20px 0px;
}

.list-container li{
    list-style: none;
    margin-bottom: 10px;
}

.list-container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

hr{
    margin-top: 30px ;
}

.footer-copyright-text{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
}
/* end footer style */




  }

