@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family:"miama";
    src:url("../fonts/miama/Miama.ttf");
}

*{margin: 0;
padding: 0;}

.inter-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* shared style */
.button-primary{
    background: rgb(230, 83, 60);
    border-radius: 2.5rem;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    border: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/* start header style */
.header-container{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 119) 100%);
}
/* start nav section style */
.nav-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 3.56rem 0rem; 
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.6rem;
}

.nav-title-style{
    font-style: italic;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    padding: 4px 20px 4px 4px;
}

nav ul>li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hamburger-icon{
    display: none;
}

/* end nav section style */
/* start hero section style */
.hero-container{
    max-width: 80%;
    margin: 0 auto;
}

.hero-content-container{
    display: flex;
    align-items: center;
    gap: 30%;
}

.hero-left-content{
    width: 42%;
}

.hero-right-content{
    position: relative;
    
}

.video-tutorial-box{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 24px;
    margin-left: -80px;
    margin-top: -144px;
}

.free-workout-box{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 16px 24px;
    margin-right: -48px;
    top: 160px;
    right: 0;
}


.circle-point{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: tomato;
}

.video-text{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
}

.video-tutorial{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.work-out-title{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
}

.work-out-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}

.hero-title{
    color: rgb(255, 255, 255);
    font-size: 4.88rem;
    font-weight: 900;
    line-height: 110%;
}

.hero-text-style{
    font-family:"miama";
    font-weight: 400;
    font-size: 9.5rem;
    
}

.hero-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0px;
}

.download-btn{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

.hero-right-content img{
    width: 100%;
    height: 100%;
}
/* end hero section style */


/* start responsive style */
@media screen and (max-width: 576px) {
    .hamburger-icon{
        display: block;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        cursor: pointer;
    }
    nav ul{
        display: none;
    }

    .hero-button{
        display: flex;
    }

    .hero-content-container{
        display: flex;
        flex-direction: column;
    }

    
    .hero-left-content{
        width: 100%;
        margin-bottom: 50px;
    }

    .hero-title{
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
        line-height: 110%;
    }

    .hero-text-style{
        font-family:"miama";
        font-weight: 400;
        font-size: 5.5rem;
        
    }

    .hero-button{
        gap: 5%;
    }

    .hero-right-content{
        position: relative;   
    }
    
    .video-tutorial-box{
        gap: 12px;
        padding: 16px 20px;
        margin-left: -5px;
        margin-top: -290px;
    }
    
    .free-workout-box{
        padding: 10px 16px;
        margin-right: -4px;
        top: 40px;
        right: 0;
    }
    
  }